<div class="col-lg-12 container">
    <div class="row">
        <p>Le nombre des pokémons est : {{comptePokemon}}</p>

        <form #pokemonsFormulaire="ngForm" (ngSubmit)="auClic(pokemonsFormulaire.value.nomPok)">
            <div class="col-lg-12 form-row align-items-center">
              <div class="col-lg-6"  id="error">
                <label class="sr-only" for="inlineFormInput">Nom du pokémons</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" name="nomPok" placeholder="nom pokemons" [(ngModel)]="formulairePokemon.nomPok"  [class.is-invalid]="nomPok.invalid" [class.is-valid]="nomPok.valid" required pattern="[a-zA-Z 3 ]*" #nomPok="ngModel">
                <small *ngIf="nomPok.invalid" id="condition" class="text-danger"> Le champs ne doit contenir que des lettres.</small> 
              </div>
              
                 <div>
                <button type="submit" class="btn btn-primary mr-2 mb-2" [disabled]="pokemonsFormulaire.invalid">rechercher</button>
                </div>
                <button type="reset" (click)="annulerRecherche()"class="btn btn-dark ml-3 mb-2">Annuler</button>
            </div>
          </form>
        <p class="mt-3 mx-auto text-center alert alert-primary" role="alert" *ngIf=pokemonSelectionne>Le Pokémon sélectionné 
            est : {{pokemonSelectionne}}</p> 
        <div class="col-lg-12 bg-primary d-flex flex-wrap justify-content-between mt-3 mb-2" >
            <div class=" mt-3 mb-2"  *ngFor="let pokemonEl of pokemons">
                <app-pokemon [pokemon]="pokemonEl" (unEvenement)="pokemonSelectionne=$event" ></app-pokemon>
            </div>
        </div>
    </div>
</div>



