<header>

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-light"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand " routerLink="/">
                        <img src="https://www.freepnglogos.com/uploads/pokemon-logo-png-0.png" width="70" alt="Pokemon Logo Png" />
                    </a>
                  
                    <a class="nav-link text-light mt-4" routerLink="/génération">Générations</a>
                    <a class="nav-link text-light mt-4" routerLink="/pokémons">Pokémons</a>
                </div>
             
            </div>
            <div class="float-end d-flex">
                <button class="btn btn-sm btn-outline-light" routerLink="/creerUnCompte" >créer un compte</button>
                <a class="text-light text-small " routerLink="/seConnecter" >se connecter</a>
            </div>
        </div>
 
      </nav>

      <h3 class="text-primary mt-5 text-center">  Pokémon Manger </h3>

</header>
